@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: outfit;
  background-color: #000000;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}